[Desktop Entry]
Name=Tetra
Comment=AI Wrapper
Exec=tetra
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=Utility;Network;
StartupNotify=true
StartupWMClass=com.ubuntu.tetra
